<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>68</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>67</string>
					<key>Timestamp</key>
					<string>757811377.1514699</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MovieNight/UI/Components/CustomSearchBar.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    }
</string>
				<key>leading</key>
				<string>
        return searchBar
</string>
				<key>trailing</key>
				<string>
    func makeCoordinator() -&gt; Coordinator {
        Coordinator(searchText: $searchText, searchViewModel: vm, searchState: $searchState)
</string>
			</dict>
			<key>title</key>
			<string>Change clear icon?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>28</string>
					<key>EndingLineNumber</key>
					<string>206</string>
					<key>StartingColumnNumber</key>
					<string>24</string>
					<key>StartingLineNumber</key>
					<string>206</string>
					<key>Timestamp</key>
					<string>735016331.8716249</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MovieNight/UI/Search/Child Screens/MovieDetailScreen.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>Text</string>
				<key>leading</key>
				<string>                            .padding([.leading, .trailing], 30)

                        </string>
				<key>trailing</key>
				<string>("You might also like")
                            .foregroundStyle(.white)
                            .font(.headline)
</string>
			</dict>
			<key>title</key>
			<string>TODO: If recommended results are empty we shouldn't show this section</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
